@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat:ital@1&display=swap');
html {
scroll-behavior: smooth;
}

div#map {
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(182, 182, 182, 0.699), 0 6px 20px 0 rgba(197, 197, 197, 0.671);
    margin: 10px;
    padding: 10px;
            }

@media (min-width: 320px) and (max-width: 767px) { div#map
    {
        height: 250px;
    }
    }

/*https://developers.google.com/maps/documentation/javascript/marker-clustering?hl=en_US*/
html, body {
            height: 100%;
            margin: 0;
            padding: 0;
          }

body {
    font-family: 'Cinzel', serif;
    font-family: 'Montserrat', sans-serif; 
    height: auto; 
}

header {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(182, 182, 182, 0.699), 0 6px 20px 0 rgba(197, 197, 197, 0.671);
}

h1 {
    color: black;
    margin-left: 20px;
    font-family: 'Cinzel', serif;
    padding: 20px;
    text-decoration: underline;
    text-align: center;
}
h2 {
    text-align: center;
    color: black;
}
h3 {
    color: white;
    text-align: center;
}
h4 {
    color: black;
    text-align: center;
}
p {
    text-align: center;
    font-size:20px;
    color: grey;
    padding:10px;
}

@media (min-width: 320px) and (max-width: 767px) { h1 {
        padding: 10px;
}
}

section {
    border-bottom: 1px 
}
hr {
    width: 80%;
    align-content: center;
    text-align: center;
    display: inline-block;
    margin-left: 10%;
}



.logo {
  position: relative;
  padding: 5px;
  height: 50px;
  top: 0%;
  margin-bottom: 5px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(182, 182, 182, 0.699), 0 6px 20px 0 rgba(197, 197, 197, 0.671);
}
/*Thank you to the wonderful....for aiding with this complex navigation bar*/
nav {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(182, 182, 182, 0.699), 0 6px 20px 0 rgba(197, 197, 197, 0.671);
  margin-bottom: 10px;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.nav-toggle {
  font-size: 20px;
  background: white;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  position: relative;
  line-height: 20px;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}

.links a {
  color: grey;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 4px;
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background-color: rgba(199, 191, 191, 0.322);
  color: black;
  margin-bottom:1px;
  box-shadow: 0 4px 8px 0 rgba(182, 182, 182, 0.699), 0 6px 20px 0 rgba(197, 197, 197, 0.671);

}
.links {
  height: 0;
  transition: var(--transition);
  list-style-type: none;
  overflow: hidden;
}
.show-links {
  height: 160px;
}

/*media quries for the navigation bar*/
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background:transparent;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition); 
  height: auto !important;
}
.links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background-color:white;
  }
}

/*Home page css code. References: */
#home-page {
  min-height: 100vh;
  background: linear-gradient(rgba(252, 252, 252, 0.5), rgba(255, 255, 255, 0.7)),
  background url("https://i.imgur.com/M9JGebg.jpg") center/cover no-repeat;
}
.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  margin-top: 10px;
}
.banner p {
    color: black;
}
.banner .btn {   
    text-align: center;
    justify-content: center;
    position: relative;
    margin: 10px;
    overflow: hidden;
    color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(182, 182, 182, 0.699), 0 6px 20px 0 rgba(197, 197, 197, 0.671);
 }
 .banner .btn:hover {
    color: white;
    background-color: black;
 }

/* sections and title */
/*This nifty title code helped make this more simpler*/
.title h1 {
  text-align: center;
  text-transform: uppercase;
}
/*this code aims at the about section below the main hero image*/
#about {
    height: auto;
    overflow: hidden;
}
#about h1 {
    font-size: 40px;
}

#about-text {
    background-color: linear-gradient(rgba(252, 252, 252, 0.5), rgba(255, 255, 255, 0.7)), lightgrey;
}
#about-two {
    background-color: lightgrey, linear-gradient(rgba(252, 252, 252, 0.5), rgba(255, 255, 255, 0.7));
}
#about-two h2 {
    padding-top: 10px;
}
#about-text p, #about-two p {
    padding: 10px;
}
#services {
    height: auto;
    overflow:hidden;
}
#fish img {
    box-shadow: 0 4px 8px 0 rgba(182, 182, 182, 0.699), 0 6px 20px 0 rgba(197, 197, 197, 0.671);
}
#hidden-image {
    margin-bottom: 10px;
}
@media (min-width: 320px) and (max-width: 767px) { #fish img {
       margin-bottom: 10px;
}
}
@media screen and (min-width: 1024PX) { #about-text p, #about-two p
    {
        font-size: 30px;
    }
}
@media (min-width: 678px) and (max-width: 1024px) { #about-text p, #about-two p 
{
        font-size: 20px;
    }
}
@media (min-width: 0px) and (max-width: 1024px) { #hidden-image img {
    display: none;
}
}

/**/


.slide-container {
  width: auto;
  margin: 0 auto;
  position: relative;
  border-radius: 8%;
  box-shadow: 0 4px 8px 0 rgba(182, 182, 182, 0.699), 0 6px 20px 0 rgba(197, 197, 197, 0.671);
}
.mySlides {
  position: relative;
  border-radius: 8%;
  width: 100%;
  display: grid;
  place-items: center;
  transition: all 0.25s ease-in-out;
  text-align: center;
  object-fit: cover;
}

@media (min-width: 320px) and (max-width: 767px) { .slide-container .mySlides {
        height: 400px;
        margin-bottom: 10px;
}
}

@media screen and (min-width: 1024px) { .mySlides {
        max-height: 600px;
        border-radius: 0%;
}
}

/**/
#learn {
    height: auto;
    overflow: hidden;
}
#info {
    border: 1px solid white;
    background-color: lightgrey;
}
#info h2 {
    text-align: center;
      font-family: 'Cinzel', serif;
      color: black;
      padding-top: 5px;
}

#info li {
    text-align: center;
    color: grey;
    list-style-type: none;
    font-size: 3vw;
    padding: 5px;
}

#skull img {
    box-shadow: 0 4px 8px 0 rgba(182, 182, 182, 0.699), 0 6px 20px 0 rgba(197, 197, 197, 0.671);
    align-content: center;
    position: relative;
}
#info .btn {
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;
    color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(182, 182, 182, 0.699), 0 6px 20px 0 rgba(197, 197, 197, 0.671);
}

#info .btn:hover {
    color: white;
    background-color: black;
}

@media screen and (min-width: 1024px) { #skull img
    {
        margin-right: 15%;
        transform: translate(12%, 0%);
        }
        #info {
        margin-left: 20%;
        margin-top: 40px;
        transform: translate(-10%, 0%);

        }
        #info h2 {
            font-size:3vw;
            margin-top: 10px;
        }
        #info li {
            font-size:4vw;
        }
        #info .btn {
             transform: translate(0%, 30%);
        }
        #learn {
            overflow: hidden;
            margin-bottom: 10px;
        }
    }
@media screen and (min-width: 1150px) {#info {
                     transform: translate(-30%, 0%);
}
#skull img {
        transform: translate(30%, 0%);
}
}


@media (min-width: 678px) and (max-width: 1024px) { #skull {
        width: 90%;
        align-content: center;
        justify-content: center;
        transform: translate(5%, 0%);
}
}


@media (min-width: 320px) and (max-width: 767px) { 
#about-text p, #about-two p, #services p, #info p {
    position: relative;
    transform: translate(0%, 0%);
    font-size: 15px;
    text-align: center;
    color: black;
    padding-bottom: 5px;
}
#about-text h1, #about-two h1, {
    font-size: 4vw;
}
#carousel-item {
    height: 120%;
}
#carousel-item h2 h4 {
    font-size: 20px;
}
}
/*css for review section on home page*/

#reviews {
    height: 330px;
    background-color: lightgrey;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#reviews .btn {
    text-align: center;
    justify-content: center;
    position: relative;
    margin: 10px;
    overflow: hidden;
    color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(182, 182, 182, 0.699), 0 6px 20px 0 rgba(197, 197, 197, 0.671);
}

#reviews .btn:hover {
    color: white;
    background-color: black;
}

#review-block {
   background-color: white;
   padding: 10px;
}


.myReview {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 5px;
    }

.carousel-indicators {
    display: none;
}

.carousel-item {
    overflow: hidden;
}
.carousel-item h2 {
        padding: 5px;
        text-decoration: underline;
        font-size: 3vw;
        font-family: 'Cinzel', serif;
}

.carousel-item h4 {
    color: black;
    font-size: 2vw;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif; 
}

@media (min-width: 320px) and (max-width: 767px) { .carousel-inner h2{
        font-size: 20px;
        color: black;
}
    .carousel-inner h4 {
        font-size: 15px;
        color: black;
    }
}

@media screen and (min-width: 1024px) { #reviews {
        margin-left: 5%;
        margin-right: 5%;
        overflow: hidden;
        height: 450px;
}
        #review-block {
            margin-left: 5%;
            margin-right: 5%;
            height: 250px;
        }
        #reviews .btn {
            margin-bottom: 10px;
            padding: 10px;
        }
        .myReview {
            height: 100px;
            width: 100px;
            padding: 10px;
        }
        .carousel-inner h2{
        font-size: 40px;
        color: black;
}
    .carousel-inner h4 {
        font-size: 20px;
        color: black;
    }
    #reviews h1 {
        transform: translate(-1%, 0%);
    }
}
/*footer code i took alot of this section from my previous project as it seemed to suit both sites well. This was inspired by the code institute project*/

footer {
position: relative;
bottom: 0;
}
footer p {
    font-size: 2vw;
}
.media {
text-align: center;
}

.media ul {
display: inline-block;
}
.media li {
display: inline-block;
}
.media i {
    color: lightgrey;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
    list-style-type: none;
    font-size: 150%;
    padding: 5px;
}

@media screen and (min-width: 1024px) { footer p {
    font-size: 2vw;
}
    .media i {
        font-size: 200%;
    }
}
/**/



/*https://stackoverflow.com/questions/9792816/apply-drop-shadow-to-border-top-only/ link for top box shadow*/

/*css for courses page*/
#course-info {
    overflow: hidden;
}

#course-info h4 {
    text-align: center;
    color:black;
    overflow: hidden;
}
#courses h3, #course-info h3, #courses-two h3 {
    color: black;
    padding-top: 5px;
    margin: 5px;
}


/*https://www.w3schools.com/howto/howto_css_center_button.asp used to center buttons*/

#courses .btn, #courses-two .btn, #course-info .btn, #shop .btn {
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;
    overflow: hidden;
    margin: 5px;
    color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(182, 182, 182, 0.699), 0 6px 20px 0 rgba(197, 197, 197, 0.671);
}

#courses .btn:hover, #courses-two .btn:hover, #course-info .btn:hover, #shop .btn:hover, #hidden .btn:hover, #hidden-one .btn:hover, #hidden-two .btn:hover {
    color: white;
    background-color: black;
}

#hidden p, #hidden-one p, #hidden-two p {
    display: none;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}



/*media queries for courses.html*/
@media (min-width: 320px) and (max-width: 767px) {
    #course-info h1, #course-info h2 {
        font-size: 7vw;
        padding-top: 0;
        text-align: center;
        padding: 5px;
        text-decoration: underline;
    }
    #course-info h4, #course-info h3 {
        font-size: 4vw;
        padding-top: 10px;
    }
    #course-info img {
        padding-top: 10px;
    }
}

@media screen and (min-width: 1024px) {
     {
        display: none;
    }
}
/*booking page css*/

#book {
     background: linear-gradient(rgba(252, 252, 252, 0.5), rgba(255, 255, 255, 0.7)),
     background url("https://i.imgur.com/M9JGebg.jpg") center/cover no-repeat;
     overflow: hidden;
     position: relative;
     margin-bottom: 10px;
}

#book-content {
    background-color: lightgray;
    margin-top: 20px;
    opacity: 0.3;
}
#book-content h4 {
    color: black;
    text-align: center;
    text-decoration: underline;
    padding: 10px;
}
#Form1 {
    opacity: 1;
    position: relative;
    align-content: center;
}
#book-content .btn {
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;
    margin: 5px;
    color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(182, 182, 182, 0.699), 0 6px 20px 0 rgba(197, 197, 197, 0.671);
}

#book-content .btn:hover {
    color: white;
    background-color: black;
}

label {
    color: black;
    font-size: 20px;
}
/*https://getbootstrap.com/docs/4.0/components/forms/*/
#datepicker {
    margin: 10px;
}


#location-map p{
    font-size: 15px;
}
@media (min-width: 320px) and (max-width: 767px) { label {
        font-size: 2vw;
}
#book-content h1 {
    font-size: 4vw;
    text-align: center;
}
}

/*find us css*/

#find-us {
    background: linear-gradient(rgba(252, 252, 252, 0.5), rgba(255, 255, 255, 0.7)),
    background url("https://i.imgur.com/M9JGebg.jpg") center/cover no-repeat;
    padding: 10px;
}
#find-us h1 {
    font-size: 30px;
}

#find-us h4 {
    color: black;
    padding: 5px;
    text-align: center;
    font-size: 15px;
}

#contact ul li{
    background-color: white;
    opacity: 0.8;
    text-align: center;
    padding: 10px;
}

#directions {
        padding: 5px;
        overflow: hidden;
    }


@media (min-width: 320px) and (max-width: 767px) { #find-us h1, #directions h1 {
    font-size: 6vw;
    text-align: center;
}
#find-us h4, #directions h4 {
    font-size: 15px;
    text-align: center;
}
#find-us ul li {
    overflow: hidden;
    font-size: 3vw;
    text-align: center;
    list-style-type: none;
}
#contact ul li{
    text-align: center;
    align-content: center;
    min-width: 250px;
}
}
/*this css code alters the thank page html. The below code was set for screens between 768 and 1025px.*/

.thank-image {
    background: linear-gradient(rgba(252, 252, 252, 0.5), rgba(255, 255, 255, 0.7)),
    background url("https://i.imgur.com/OqaF2c3.jpg") center/cover no-repeat;
    box-shadow: 0 4px 8px 0 rgba(182, 182, 182, 0.699), 0 6px 20px 0 rgba(197, 197, 197, 0.671);
    padding: 10px;
    margin-top: 20px;
    height: 400px;
}
.thank-image-text {
    padding: 10px;
}
.thank-image-text h1 {
    padding: 5px;
    font-size: 5vw;
    text-align: center;
    color: black;
      transform: translate(-30%, 0%);
}
.thank-image-text h2 {
    padding: 5px;
    text-align: center;
    color: black;
        transform: translate(-28%, 0%);
        font-size: 3vw;
}

.thank-image .btn {
     font-family: 'Cinzel', serif;
    transform: translate(200%, 80%);
    margin: 5px;
    color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(182, 182, 182, 0.699), 0 6px 20px 0 rgba(197, 197, 197, 0.671);
}
.thank-image .btn:hover {
    color: white;
    background-color: black;
}

@media (min-width: 320px) and (max-width: 767px) { .thank-image{
    max-height: 250px;
}
    .thank-image-text h1 {
        font-size: 5vw;
            transform: translate(-30%, 0%);
    }
    .thank-image-text h2 {
        font-size: 3vw;
          transform: translate(-25%, -50%);
    }
    .thank-image .btn {
             transform: translate(150%, -10%);
    }
}

@media screen and (min-width: 1024px) { .thank-image {
    min-height: 600px;
    margin-bottom: 10px;
    padding: 10px;
    }
    .thank-image-text {
        margin-top: 50px;
    }
    .thank-image .btn {
       font-size: 40px;
       transform: translate(100%, 70%);
    }
}
@media screen and (min-width: 1550px) { .thank-image .btn {
        margin-left: 30%;
         transform: translate(100%, 70%);
         font-size: 60px;
}
.thank-image-text h2 {
    font-size:2vw;
}
}


/*https://stackoverflow.com/questions/38662789/google-maps-js-example-not-showing thank you to scaisEdge for helping with Google API*/
/*https://www.w3schools.com/css/css_image_transparency.asp*/
/*https://www.w3schools.com/html/html_forms.asp*/

#shop-front h1 {
    margin: 10px;
    font-size: 3vw;
    text-align: center;
    padding: 5px;
}

#shop-front .btn: {
    margin-bottom: 20px;
}

#shop-front img {
    line-height: 20px;
}

@media screen and (min-width: 1024PX) { #shop-front img {
        height: 300px;
        width: 350px;
        align-content: center;
        transform: translate(30%, 0%);
}
#shop-front .btn {
    width: 350px;
    transform: translate(30%, 0%);
    margin-bottom: 15px;
}
}

@media (min-width: 320px) and (max-width: 767px) { #shop-front img {
            height: 250px;
            align-content: center;
            
}
}