@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

header {
    background-color: white;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(182, 182, 182, 0.699), 0 6px 20px 0 rgba(197, 197, 197, 0.671);
}
h1 {
    float: left;
    color: black;
    margin-left: 20px;
}


#taxidermy {
    background: url("https://i.imgur.com/m7Z9VS3.jpg") no-repeat center center;
}

.wrapper{
  position:absolute;
  top: 30%;
  left: 95%;
  transform: translate(-50%,-50%);
}

.wrapper .container{
  width: 100px;
}

.wrapper .hamburger_btn{
  width: 50px;
  height: 50px;
  margin: 0 auto 16px;
  border-radius: 50%;
  border: 3px solid black;
  position: relative;
  cursor: pointer;
}

.wrapper .hamburger_btn > div{
  position: absolute;
  top: 45%;
  height: 3px;
  background:white;
  border-radius: 50px;
  transition: all 0.3s linear;
}

.wrapper .hamburger_btn .one{
  top: 25%;
}

.wrapper .hamburger_btn .three{
  top: 65%;
}

.wrapper .container .menu{
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: black;
  position: relative;
  opacity: 0;
  top: -10px;
  transition: all 0.5s linear;
}

.wrapper .container .menu ul li{
  text-align: left;
  text-transform: uppercase;
  transition: all 0.2s linear;
  list-style-type: none;
}

.wrapper .container .menu ul li a{
  padding: 5px;
  font-size: 12px;
  color: #757575;
  display: block;
  transition: all 0.2s linear;
}

.wrapper .container .menu ul li:hover{
  background: lightgrey;
}

.wrapper .container .menu ul li:hover a{
  color: black;
}

.wrapper .container .menu:before{
  content: "";
  position: absolute;
  top: -19px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 10px solid transparent;
  border-bottom: 10px solid black;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.wrapper .hamburger_btn.active{
  transform: rotate(90deg);
}

.wrapper .hamburger_btn.active .one{
    top: 45%;
    left: 25%;
    transform: rotate(45deg);
}

.wrapper .hamburger_btn.active .two{
  opacity: 0;
}

.wrapper .hamburger_btn.active .three{
    top: 45%;
    left: 25%;
    transform: rotate(-45deg);
}

.wrapper .container .menu.active{
  opacity: 1;
  top: 0px;
}